*, *::before, *::after {
    box-sizing: border-box;
}


.fraunces-san {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

  
.montserrat-san {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
  }

body {
    background: #F2EAE2;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    /* width: 95%;
    height: 95%; */
    max-width: 465px;
    max-height: 90%;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin: 3rem;
    
    
}

.inner-one {
   max-height: 30%;
}

.inner-two {
    
    padding: 5%;
}

#add-to-cart {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #3D8168;
    padding: 1rem;
    border-radius: .6rem;
}

#add-to-cart img {
    margin-right: .6rem;
}

#add-to-cart:hover {
    background-color: #1A4032;
}


/* Typography */

.sub-head {
    letter-spacing: .5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

h1 {
    font-size: 2.3rem;
    font-family: "Fraunces", serif;
    margin: 0;
}

p {
    color: #6C7289;
    
}

.text {
    line-height: 1.5rem;
}

#prices {
    display: flex;
    align-items: center;
}

.price {
    color: #3D8168;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    margin-left: 1rem;

}



/* Images */

img {
    max-width: 100%;
    height: auto;
    
}


@media (min-width:723px) {
    .outer {
        display: flex;
        max-width: 650px;
    }

    .inner-one {
        width: 50%;
    }

    .inner-two {
        width: 50%;
    }

    img {
        max-height: 100%;
        height: 100%;
        
    }


} 